body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: burlywood;
}

.conteudo {
  padding: 1em;
}

footer {
  width: 100%;
  padding: 1em;
  background-color: burlywood;
}

.lista-de-itens {
  padding: 0;
  overflow: auto;
  height: 10em;
}
.lista-de-itens, table li {
  list-style-type: none;
}

.cinza {
  background-color: lightgray;
}
.vermelho {
  color: red;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  position: sticky;
  top: 3.1em;
  /*border: 1px solid black;
  border-collapse: separate;
  border-spacing: 3px;*/
  background-clip: padding-box;
  background-color: white;
}
table ul, table pre {
  margin: 0;
  padding: 0;
}
