body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: burlywood;
}

.conteudo {
  padding: 1em;
}

footer {
  width: 100%;
  padding: 1em;
  background-color: burlywood;
}

.lista-de-itens {
  padding: 0;
  overflow: auto;
  height: 50vh;
}
.lista-de-itens li {
  list-style-type: none;
}

.cinza {
  background-color: lightgray;
}
.vermelho {
  color: red;
}